{% extends 'base/base.html' %} {% block content%} {% load crispy_forms_tags %}
{% include 'include/navbar.html' %}

<!-- HEADER -->
<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:pt-24 sm:pb-8 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-lg font-semibold text-gray-600">Contact</h2>
      <p
        class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl"
      >
        Start growing your business today
      </p>
      <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">
        Flexible plans for businesses of all sizes.
      </p>
    </div>
  </div>
</div>

<!-- END HEADER -->

<section>
  <div class="overflow-hidden bg-white px-4 sm:px-6 lg:px-8">
    <div class="relative mx-auto max-w-xl">
      <svg
        class="absolute left-full translate-x-1/2 transform"
        width="404"
        height="404"
        fill="none"
        viewBox="0 0 404 404"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="85737c0e-0916-41d7-917f-596dc7edfa27"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="404"
          fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
        />
      </svg>
      <svg
        class="absolute right-full bottom-0 -translate-x-1/2 transform"
        width="404"
        height="404"
        fill="none"
        viewBox="0 0 404 404"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="85737c0e-0916-41d7-917f-596dc7edfa27"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="404"
          fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)"
        />
      </svg>

      <div class="">
        <form
          action="#"
          method="POST"
          class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
        >
        <div class="sm:col-span-2">
          <label for="company" class="block text-sm font-medium text-gray-700"
            >Full name</label
          >
          <div class="mt-1">
            {{form.name|as_crispy_field}}
          </div>
        </div>

          <div class="sm:col-span-2">
            <label for="company" class="block text-sm font-medium text-gray-700"
              >Company</label
            >
            <div class="mt-1">{{form.business|as_crispy_field}}</div>
          </div>
          <div class="sm:col-span-2">
            <label for="email" class="block text-sm font-medium text-gray-700"
              >Email</label
            >
            <div class="mt-1">{{form.email|as_crispy_field}}</div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="phone-number"
              class="block text-sm font-medium text-gray-700"
              >Phone Number</label
            >
            <div class="relative mt-1 rounded-md shadow-sm">
              {{form.phone|as_crispy_field}}
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block text-sm font-medium text-gray-700"
              >Message</label
            >
            <div class="mt-1">{{form.message|as_crispy_field}}</div>
          </div>
          <div class="sm:col-span-2 pb-10">
            <button
              type="submit"
              class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-black px-6 py-3 text-base font-medium text-white shadow-sm focus:outline-none"
            >
              Let's talk
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
