{% load static %}
<div class="px-6 pt-6 pb-6 lg:px-8">
  <div>
    <nav class="flex h-9 items-center justify-between" aria-label="Global">
      <div class="flex lg:min-w-0 lg:flex-1" aria-label="Global">
        <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-56" src="{% static 'images/nav-logo.png' %}" alt="" />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button
          id="hamburger"
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Open main menu</span>
          <!-- Heroicon name: outline/bars-3 -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div
        class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12"
      >
        <div>
          <a
            
            href="#services"
            class="font-semibold relative text-gray-900 hover:text-gray-900 hover:cursor-pointer"
            >Services</a
          >
          <!-- DROPDOWN -->
          <!-- <div
            id="dropdown"
            class="hidden absolute top-12 z-10 mt-2 w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <a
                href="{% url 'website' %}"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
                >Web design</a
              >
              <a
                href="{% url 'seo' %}"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-1"
                >SEO</a
              >
              <a
                href="{% url 'social' %}"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-2"
                >Social media</a
              >
              <a
                href="{% url 'crm' %}"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-2"
                >CRM</a
              >
            </div>
          </div> -->
          <!-- END DROPDOWN -->
        </div>

       
        <a
          href="{% url 'blog-list' %}"
          class="font-semibold text-gray-900 hover:text-gray-900"
          >Blog</a
        >

        <a
          href="{% url 'contact' %}"
          class="font-semibold text-gray-900 hover:text-gray-900"
          >Contact</a
        >

        <!-- <a
          href="#contact"
          class="font-semibold text-gray-900 hover:text-gray-900"
          >Contact</a
        > -->
      </div>
      <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-end">
        <a
          href="{% url 'contact' %}"
          class="inline-block rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-white bg-black shadow-sm ring-1 ring-gray-900/10 hover:ring-gray-900/20"
          >Get started</a
        >
      </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu open state. -->
    <div id="mobile-nav" role="dialog" aria-modal="true" class="hidden">
      <div
        focus="true"
        class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden"
      >
        <div class="flex h-9 items-center justify-between">
          <div class="flex">
            <!-- <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img
                class="h-8"
                src=""
                alt=""
              />
            </a> -->
          </div>
          <div class="flex">
            <button
              id="close-menu"
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x-mark -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a
                href="{% url 'home' %}"
                class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 hover:cursor-pointer"
                >Home</a
              >

              <a
               
                href="#services"
                class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 hover:cursor-pointer"
                >Services</a
              >

             

              <a
                href="{% url 'blog-list' %}"
                class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10"
              >
                Blog</a
              >

              <!-- <a
                href="#"
                class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10"
                >Company</a
              > -->
            </div>
            <!-- <div class="py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10"
                >Log in</a
              >
            </div> -->

            <a href="{% url 'home' %}">
              <img src="{% static 'images/nav-logo.png' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const dropdownBtn = document.getElementById("dropdown-btn");
  const dropdown = document.getElementById("dropdown");

  dropdownBtn.addEventListener("click", function (e) {
    e.preventDefault();
    dropdown.classList.toggle("hidden");
  });

  const hamburger = document.getElementById("hamburger");
  const mobileNav = document.getElementById("mobile-nav");
  const closeMenu = document.getElementById("close-menu");

  hamburger.addEventListener("click", function () {
    mobileNav.classList.remove("hidden");
  });

  closeMenu.addEventListener("click", function () {
    mobileNav.classList.add("hidden");
  });

  const navButton = document.getElementById("nav-button");
  navButton.addEventListener("click", function () {
    console.log("hello");
    mobileNav.classList.add("hidden");
  });
</script>
