{% load tailwind_tags %} {% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% tailwind_css %}

    <!-- HTML Meta Tags -->
    <title>Stryker Digital</title>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'main.js' %}"></script>
</html>
